@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.shoppingcart{
    width: 1.5rem;
    height: 1.5rem;

}
.acc-name{
    font-family: 'Nunito', sans-serif;   
    color: whitesmoke;
    font-size: 14px;


}