@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.carousel-item{
    background-color: #ffd233;
}

.carousel-caption{
    color:black;
    font-family: 'Nunito', sans-serif;   


}

#tablink,#tablink1,#tablink2,#tablink3,#tablink4{
    color: black;
    font-family: 'Nunito', sans-serif;  
    font-weight: 500; 

}

.tabs-nav{
    background-color: whitesmoke;
}