@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.navbar-brand{
    font-family: 'Nunito', sans-serif;   
}

.logoimg{
    width:4%;
}
.Nav{
    max-height: '100px';
    font-family: 'Nunito', sans-serif;   

}
.search-bar:focus{
    box-shadow: none;

}

.searchicon{
    width: 3%;
    height: 100%;
}
#searchBtn:focus{
    box-shadow: none;

}

.login-reg{
    color: black;
    text-decoration: none;
}

.shoppingcart{
    width: 1%;
    /* height: 25%; */
}

.whitelinks{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;   

}
.whitelinks:hover{
    color: #ffd233;
}

.cart{
    font-family: 'Nunito', sans-serif; 
    color: whitesmoke;  


}