@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');




body{
    background-color: whitesmoke;
}


.navbrand{
    font-family: 'Montserrat', sans-serif;

}
.slogan-title{
    font-family: 'Kanit', sans-serif;    
    font-weight: bold;
    font-size: 50px;
}
#navlinks,#navlinks2,#navlinks3,#navlinks4{
    font-family: 'Nunito', sans-serif;   
    color: black;
    text-decoration: none;
    padding-right: 10px;


}
#logo
{
    width: 20%;
}
.logoName{
    font-family: 'Nunito', sans-serif;   


}
#image1{
    width: 100%;
}
.site-name{
    font-family: 'Montserrat', sans-serif;


}
p{
    font-family: 'Montserrat', sans-serif;


}
li{
    font-family: 'Nunito', sans-serif;   


}

#start-btn{
    background-color: black;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;   

}