@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    background-color: whitesmoke;
}

.left-col{
    background-color: #ffd233;

}
.navbrand{
    font-family: 'Montserrat', sans-serif;

}
#navlinks,#navlinks2{
    font-family: 'Nunito', sans-serif;   
    color: white;
    text-decoration: none;
    padding-right: 10px;


}
#logo
{
    width: 20%;
}
.logoName{
    font-family: 'Nunito', sans-serif;   


}
#image1{
    width: 100%;
}
.site-name{
    font-family: 'Montserrat', sans-serif;


}
p{
    font-family: 'Montserrat', sans-serif;


}
li{
    font-family: 'Nunito', sans-serif;   


}

#start-btn{
    background-color: black;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;   

}