@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');




#offcanvasNavbar{
    width: 220px;
    background-color: black;
}
#offcanvasNavbarLabel-expand-lg{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;

}

#side-links,#side-links1,#side-links2,#side-links3{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;  

}
Nav.Item{
    color: black ;
}



.logo-img{
    width: 15%;
    height: 10%;
}

#menubtn{
    background-color: transparent;
    border: none;
}

#menubtn:focus{
    box-shadow: none;
}


