@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.S-nav{
    background-color: black;
    /* width: 12%; */
    color: black;
}
.sidebar-menu-nav-link{
    color: whitesmoke;
}
#sideNav{
    background-color: transparent;
}
#sideNav:focus{
    box-shadow: none;
}

.menu-icons{
    width: 1.3rem;
    height: 100%;
}

.tab-content{
    color: black;


}

.side-text{
    font-family: 'Nunito', sans-serif;   


}

.logout-btn{
    background-color: #ffd233;
}